{{ if .Site.Params.Author }}
    <h3>About Me</h3>
        <div class="social">
            {{ if .Site.Params.Author.linkedin }}
                <a href="https://www.linkedin.com/in/{{ .Site.Params.Author.linkedin }}" target="_blank">
                    <i class="fab fa-linkedin" aria-hidden="true"></i>
                </a>
            {{end}}
            {{ if .Site.Params.Author.github }}
                <a href="https://github.com/{{ .Site.Params.Author.github }}" target="_blank">
                    <i class="fab fa-github" aria-hidden="true"></i>
                </a>
            {{end}}
            {{ if .Site.Params.Author.flickr }}
                <a href="https://flickr.com/{{ .Site.Params.Author.flickr }}" target="_blank">
                    <i class="fab fa-flickr" aria-hidden="true"></i>
                </a>
            {{end}}
            {{ if .Site.Params.Author.twitter }}
                <a href="https://twitter.com/{{ .Site.Params.Author.twitter }}" target="_blank">
                    <i class="fab fa-twitter" aria-hidden="true"></i>
                </a>
            {{end}}
            {{ if .Site.Params.Author.facebook }}
                <a href="https://www.facebook.com/{{ .Site.Params.Author.facebook }}" target="_blank">
                    <i class="fab fa-facebook-square" aria-hidden="true"></i>
                </a>
            {{end}}
            {{ if .Site.Params.Author.instagram }}
                <a href="https://instagram.com/{{ .Site.Params.Author.instagram }}" target="_blank">
                    <i class="fab fa-instagram-square" aria-hidden="true"></i>
                </a>
            {{end}}
            {{ if .Site.Params.Author.email }}
                <a href="mailto:{{ .Site.Params.Author.email }}" target="_blank">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
            {{end}}
            {{ if .Site.Params.Author.pinterest }}
                <a href="https://www.pinterest.com/{{ .Site.Params.Author.pinterest }}" target="_blank">
                    <i class="fab fa-pinterest" aria-hidden="true"></i>
                </a>
            {{end}}
            {{ if .Site.Params.Author.reddit }}
                <a href="https://www.reddit.com/user/{{ .Site.Params.Author.reddit }}" target="_blank">
                    <i class="fab fa-reddit" aria-hidden="true"></i>
                </a>
            {{end}}
            {{ if .Site.Params.Author.devto }}
                <a href="https://dev.to/{{ .Site.Params.Author.devto }}" target="_blank">
                    <i class="fab fa-dev" aria-hidden="true"></i>
                </a>
            {{end}}
            {{ if .Site.Params.Author.website }}
                <a href="{{ .Site.Params.Author.website }}" target="_blank">
                    <i class="far fa-address-card" aria-hidden="true"></i>
                </a>
            {{end}}
            {{ if .Site.Params.Author.flipboard }}
                <a href="https://flipboard.com/@{{ .Site.Params.Author.flipboard }}" target="_blank">
                    <i class="fab fa-flipboard" aria-hidden="true"></i>
                </a>
            {{end}}
        </div>
        {{ .Site.Params.Author.bio | safeHTML }}
{{ end }}
