{{- $resource := resources.Get . -}}
{{ with $resource }}
<figure class="title-image">
    <amp-img
        src="{{ .Permalink | absURL }}"
        srcset="
          {{ (.Resize "1000x").Permalink }} 4x,
          {{ (.Resize "750x").Permalink }} 3x,
          {{ (.Resize "500x").Permalink }} 2x,
          {{ (.Resize "375x").Permalink }} 1.5x,
          {{ (.Resize "250x").Permalink }} 1x
        "
        width="{{ $resource.Width }}"
        height="{{ $resource.Height }}"
        layout="responsive"
        sizes="(min-width: 500px) 250px, 150px"
    ></amp-img>
</figure>
{{ end }}
