<figure class="w450">
  {{ $resource := resources.Get .src }}
  {{ with $resource }}
    {{ if and (eq .ResourceType "image") (ne .MediaType.SubType "svg") }}
      <amp-img
        src="{{ .Permalink | absURL }}"
        srcset="
          {{ (.Resize "3840x").Permalink }} 3840w,
          {{ (.Resize "1920x").Permalink }} 1920w,
          {{ (.Resize "1280x").Permalink }} 1280w,
          {{ (.Resize "720x").Permalink }} 720w,
          {{ (.Resize "360x").Permalink }} 360w,
          {{ (.Resize "150x").Permalink }} 150w
        "
        width={{ with $.width }} "{{ . }}" {{ else }} {{ .Width }} {{ end }}
        height={{ with $.height }} "{{ . }}" {{ else }} {{ .Height }} {{ end }}
        layout={{ with $.layout }}"{{ . }}"{{else}}"responsive"{{ end }}
        {{ with $.alt }}alt="{{ . }}"{{ end }}
        sizes="(min-width: 500px) 450px, 100vw"
      ></amp-img>
    {{ else }}
      <amp-img
        src="{{ .Permalink | absURL }}"
        width={{ with $.width }} "{{ . }}" {{ else }} {{ .Width }} {{ end }}
        height={{ with $.height }} "{{ . }}" {{ else }} {{ .Height }} {{ end }}
        layout={{ with $.layout }}"{{ . }}"{{else}}"responsive"{{ end }}
        {{ with $.alt }}alt="{{ . }}"{{ end }}
      ></amp-img>
    {{ end }}
  {{ end }}
  {{ if or (.title) (.caption) (.attr) }}
    <figcaption>
    {{ if .title }}
      <h4>{{ .title }}</h4>
    {{ end }}
    {{ if or (.caption) (.attr)}}
      <p>
      {{ .caption }}
      {{ if .attrlink }}<br/><a href="{{ .attrlink }}">{{ end }}
      {{ .attr }}
      {{ if .attrlink }}</a>{{ end }}
      </p>
    {{ end }}
    </figcaption>
  {{ end }}
</figure>
