{{ if isset $.Site.Params "googleanalytics" }}
<amp-analytics type="googleanalytics" config="https://amp.analytics-debugger.com/ga4.json" data-credentials="include">
    <script type="application/json">
        {
            "vars": {
              "GA4_MEASUREMENT_ID": "{{ $.Site.Params.googleAnalytics }}",
              "GA4_ENDPOINT_HOSTNAME": "www.google-analytics.com",
              "DEFAULT_PAGEVIEW_ENABLED": true,
              "GOOGLE_CONSENT_ENABLED": false,
              "WEBVITALS_TRACKING": false,
              "PERFORMANCE_TIMING_TRACKING": false,
              "SEND_DOUBLECLICK_BEACON": false
            }
        }
    </script>
</amp-analytics>
{{ else }}
You must set a googleAnalytics UA-Code within the global config.toml Params.
{{ end }}
