{{- range $.Site.Params.ampElements -}}
    <script async custom-element="{{ . }}" src="{{ (index (index $.Site.Data "amp-modules") .) }}"></script>
{{- end }}

{{ with .Params.amp.elements }}
    {{ range . }}
        {{ if in $.Site.Params.ampElements . }}
        {{ else }}
            {{- if (index (index $.Site.Data "amp-modules") .) -}}
                <script async custom-element="{{ . }}" src="{{ (index (index $.Site.Data "amp-modules") .) }}"></script>
            {{- end }}
        {{ end }}
    {{ end }}
{{ end }}
{{ if eq .Type "post" }}
  {{- $ampSocialShare := index (index $.Site.Data "amp-modules") "amp-social-share" -}}
  <script async custom-element="amp-social-share" src="{{ $ampSocialShare }}"></script>
{{ end }}
{{ if gt ((findRE "<amp-img(.|\n)*?on=\"tap:" .Content 1) | len) 0 }}
  {{- $ampImageLightbox := index (index $.Site.Data "amp-modules") "amp-image-lightbox" -}}
  <script async custom-element="amp-image-lightbox" src="{{ $ampImageLightbox }}"></script>
{{ end }}
{{- $ampCorePath := index (index $.Site.Data "amp-modules") "amp-core" -}}
<script async src="{{ $ampCorePath }}"></script>

{{ if isset $.Site.Params "ampmanifest" }}
    {{ partial "amp/app-banner-header" . }}
{{ end }}
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
<style amp-custom>
  {{- $options := (dict "outputStyle" "nested") -}}
  {{- $css := resources.Get "sass/style.sass" | toCSS $options -}}
   {{- $css.Content | safeCSS -}}
</style>
{{/* | postCSS (dict "inlineImports" true "config" "postcss.config.js") */}}
