{{ $author := "" }}
{{ if not .Params.noauthor }}
  {{ $author = .Site.Author }}
  {{if .Params.author }}
    {{$author = index .Site.Data.authors (.Params.author | lower) }}
  {{end}}
<div class="byline"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 January 2006" }}</time> by {{ $author.DisplayName }}
{{if .Params.categories }}
in
  {{- range $index, $category := .Params.categories -}}
    {{ if gt $index 0 }},{{ end }} <a href="{{ "/categories/" | relURL }}{{ . | urlize }}">{{ . | title }}</a>
  {{- end -}}
{{- end -}}
{{if .Params.tags }}
on
  {{- range $index, $tag := .Params.tags -}}
    {{ if gt $index 0 }},{{ end }} <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">#{{ . | upper }}</a>
  {{- end -}}
{{ end }}
{{ if .Params.origin }}
{{ $url := urls.Parse .Params.origin }}
(Originally published at <a href="{{ .Params.origin}}">{{ $url.Host }}</a>)
{{ end }}
</div>
{{end}}
