{{ $author := "" }}
{{ if not .this.Params.noauthor }}
  {{ $author = .this.Site.Author }}
  {{if .this.Params.author }}
    {{$author = index .this.Site.Data.authors (.this.Params.author | lower) }}
  {{end}}
<div class="byline"><time datetime="{{ .this.Lastmod.Format "2006-01-02" }}">{{ .this.Lastmod.Format "2 January 2006" }}</time> by {{ $author.DisplayName }}
{{if .this.Params.categories }}
in
  {{- range $index, $category := .this.Params.categories -}}
    {{ if gt $index 0 }},{{ end }} <a href="{{ "/categories/" | relURL }}{{ . | urlize }}">{{ . | title }}</a>
  {{- end -}}
{{- end -}}
{{if .this.Params.tags }}
on
  {{- range $index, $tag := .this.Params.tags -}}
    {{ if gt $index 0 }},{{ end }} <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">#{{ . | upper }}</a>
  {{- end -}}
{{ end }}
{{ if and .this.Params.origin .showOrigin }}
  {{ $url := urls.Parse .this.Params.origin }}
(Originally published at <a href="{{ .this.Params.origin}}">{{ $url.Host }}</a>)
{{ end }}
</div>
{{end}}
