.highlight {
    pre {
        margin: 0;
        background-color: $code-background;
        padding: 10px 10px;
        border-radius: 4px;
        border: 1px solid $primary-color;
        @import 'pygments/_friendly';
        max-height: 30em;
        overflow-y: auto;
        overflow-x: auto;
        code {
            background-color: inherit;
            padding: 0;
        }
    }
    margin-bottom: 2em;
}

pre:has(> code) {
    margin: 0;
    background-color: $code-background;
    padding: 10px 10px;
    border-radius: 4px;
    border: 1px solid $primary-color;
}

.gist {
    margin-bottom: 1em;
    .gist-data {
        max-height:30em;
        overflow-y: auto;
        overflow-x: scroll;
    }
}
code {
    background-color: $code-background;
    padding: 5px 2px;
}
