header {
    &.main-header {
        margin-top: 20px;
        margin-bottom: 30px;
        position: relative;
        width:100%;
        border-bottom: 1px solid $separator;
    }

    .site-title {
        width: 100%;
        @include font-size(3.0);
        line-height: 1em;
        font-weight: $bold;
        text-transform: uppercase;
        letter-spacing: -2px;
        word-wrap: break-word;
        font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
        margin: 0 0 20px 0;

        @include link($titles, $titles);
    }

    .site-description {
        line-height: 1.5em;
        color: $titles;
        text-transform: none;
        font-style: italic;
        text-align:center;
        padding: 18px 4% 20px 4%;
        border-top: 5px solid $titles;
        width: 100%;
        box-sizing:border-box;
        @media all and (min-width: 940px) {
            @include font-size(2.4);
        }
        @media all and (max-width: 939px) and (min-width: 720px) {
            font-size: 2.5vw;
        }
        @media all and (max-width: 719px) {
            @include font-size(1.8);
        }
    }
}

h1, h2, h3, h4, h5, h6, h7, h8 {
    font-weight: $regular;
    margin: 0 0 15px 0;
    color: $titles;
}

.post-title {
    @include font-size(1.6);
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    @include link($titles, $link-color);
    word-spacing: 2px;
    line-height: 1.3em;
}
.list-header {
    border-bottom: 1px solid $separator;
    padding-bottom: 2em;
    margin-bottom: 2em;
    .post-title {
        @include font-size(2.4);
    }
}
article {
    .post-title {
        @include font-size(2.4);
    }
    h2 {
        @include font-size(2.4);
        margin-top: 1.5em;
        margin-bottom: 0.8em;
    }
    h3 {
        @include font-size(2.0);
        margin-top: 1em;
        margin-bottom: 0.2em;
    }
    h4 {
        @include font-size(1.6);
        margin-top: 0.8em;
        margin-bottom: 0em;
    }
    figure {
        margin: 0;
        &.title-image {
            width:250px;
            float:left;
            margin-right: 0.5em;
            margin-bottom: 0.5em;
            @media screen and (max-width: 500px) {
                width:150px;
            }
        }
        &.w300 {
            width:300px;
        }
        &.w450 {
            width:450px;
        }
        text-align: center;
        display:block;
        margin-left:auto;
        margin-right:auto;
        figcaption {
            text-align: center;
            padding: 0.5em 0;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            border-top: 1px solid $separator;
            border-bottom: 1px solid $separator;
            h4 {
                @include font-size(1.6);
                margin-top:0;
                margin-bottom: 0;
            }
            p {
                @include font-size(1.1);
                margin: 0;
                text-align: center;
            }
        }
    }
    .video {
        margin-bottom: 2em;
    }
    section {
        p {
            text-align: justify;
        }
    }
    blockquote {
        display: block;
        padding: 15px 20px 15px 45px;
        margin: 0 0 20px;
        position: relative;
        @include font-size(1.6);
        line-height: 1.2;
        &::before {
            color: $byline;
            content: "\201C";
            @include font-size(6.0);
            font-weight: $bold;
            position: absolute;
            left: 10px;
            top: 5px;
        }
        &::after {
            content: "";
        }
        p {
            color: $table-td;
            font-style: italic;
        }
    }
}

.site-wrapper {
    max-width:940px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}

.byline {
    font-style: italic;
    @include link($byline, $link-color);
    margin: 0 0 1em 0;
    @include font-size(1.1);
    color: $byline;
    word-spacing: 2px;
    line-height: 1.7em;
}

section.summary {
    position:relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $separator;
    figure {
        margin: 0;
        &.summary-image {
            width:100px;
            float:left;
            margin-right: 0.5em;
            margin-bottom: 0.5em;
            @media screen and (max-width: 500px) {
                width:75px;
            }
        }
    }
    &::after {
        display: block;
        content:"";
        width:7px;
        height:7px;
        border: 1px solid $separator;
        position: absolute;
        bottom: -5px;
        left:50%;
        margin-left:-5px;
        background: $background-color;
        border-radius:50%;
        box-shadow: 0 0 0 5px $background-color;
    }
    div.summary {
        text-align: justify;
    }
};

ul.taxonomy-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        @include font-size(1.4);
    }
}

.share-me {
    margin-top: 1em;
    padding-top: 0.5em;
    border-top: 1px solid $separator;
    .title {
        font-weight: $bold;
    }
    amp-social-share {
        background-color: $byline;
        &:hover {
            background-color: $titles;
        }
    }
}
footer {
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: 1em;
    border-top: 5px solid $titles;
    .comments {
        max-height: 500px;
        overflow-y: hidden;
    }
}
@include link($link-color, $link-hover-color);
